body {
    margin: 0;
}

header 
{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:  #0B2447;
    padding: 20px;
}

.logo-container {
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo-container :hover 
{
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 20px #fff;

}

nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container2 {
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo-container2 :hover 
{
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 20px #fff;
}

ul 
{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li 
{
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 23px;
    text-align: center;
    margin: 0 40px;
}

li:hover
{
    color:rgb(232, 244, 252);
    text-shadow: #ffffff 0px 0px 30px;
}

nav ul a 
{
    text-decoration-line: none;
}

.s1
{
    background-image: url(images/Background4.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.s1-1
{
    display: flex;
    width:50%;
}

.s1-2
{
    display:flex;
    flex-direction: column;
    width:50%;
    color: #FFFBF5;
    margin: 20px 30px;
    text-align: justify;
}


.s1-2 h2
{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    margin: 30px 0px;
}

.s1-2 p
{
    font-size: 23px;
    font-style: oblique;
}

.s2
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ee6060;
    
}

.s2-1
{
    background-color: #19376D;
    display: flex;
    text-align: center;
    justify-content: center
}

.s2-2
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.s2-1 h1
{
    font-size: 50px;
    color: aliceblue;
}

.s2-2 div
{
    background-color: #6E85B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;

}

.s2-2 h1
{
    color: black;
}


.s2-2 img
{
    width: 150px;
}

.c1
{

   
    width: 25%;
    font-size: 15px;
    justify-content: center;

}

.c2
{
   
    width: 25%;
    text-align: center;
    font-size: 15px;
    justify-content: center;
}

.c3
{
   
    width: 25%;
    text-align: center;
    font-size: 15px;
    justify-content: center;
}

.c4
{
    
    width: 25%;
    text-align: center;
    font-size: 15px;
    justify-content: center;
}